.home-page{
  color: rgb(25, 24, 24);
  text-align: center;
  margin-top: 100px;

}
.img{
  width: 1000px;
  height: 500px;
  border-radius: 15px;
 margin-top: 20px;
}
*{
  background-color: rgb(213, 228, 237);
}
.button{
  text-align: center;
  margin-top: 20px;
}
.dropdown-list{
 padding: 10px;
width: 100%;
border-radius: 15px;
}
.dashboard{
  margin: 30px;
}
.dropdown{
  width: 600px;
  text-align: center;
  margin: 100 auto;
}
